.cs {
  margin-block-start: 2%;
  margin-left: 22%;
  margin-top: 1%;
}
.imageContainer {
  width: 25%;
  height: 25%;
  padding: 10px;
  margin: 0 auto;
  align-content: center;
}
.SML {
  display: "inline-block";
}
.CAT {
  margin-top: 10px;
}
.CAT:hover {
  cursor: pointer;
  color: #2bbbad;
}

.btnFacebook {
  width: 200px;
  height: 50px;
  border-radius: 0px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  margin: 5px;
  display: inline-block;
}
.btnGoogle {
  margin: 5px;
  width: 165px;
  height: 35px;
  border-radius: 4px;
  background: #db3236;
  color: white;
  border: 0px transparent;
  text-align: center;
}
.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.6;
}
